* {
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box; 
} 

.text-style {
    font-family: 'Poppins', sans-serif;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    background-color : #F4F9F9;
    height: 8vh;
}

.logo {
    font-size: 20px;
    letter-spacing: 4px;
}

.nav-bar  a {
    text-decoration: none;
    color: black;
    transition-duration: 0.7s;
    font-weight: bold;
}

.nav-bar a:hover{ 
    color: #1687A7;
    border-bottom : 1px solid #1687A7;
    padding-bottom: 3px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 33%;
}
li {
    list-style-type: none; 
    padding-top: 10px;
}

.burger {
    display : none; 
}

.burger div {
    width: 20px;
    height: 2px; 
    background-color: black; 
    margin: 2px;
    transition: all ease 0.5s;

}


@media screen and (max-width : 700px) {
    .nav-links {
        display: flex;
        justify-content: space-between; 
        width: 50%;
    }
}

@media screen and (max-width : 500px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right : 0px; 
        top : 8vh; 
        height: 92vh;
        width: 50%;
        background-color: #F4F9F9;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0);
}

@keyframes navLinkFade {

    from {
        opacity: 0; 
        transform: translateX(50px); 
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.animateBurger .line1 {
    transform: rotate(-45deg) translate(-6px,3px)
}
.animateBurger .line2 {
   opacity: 0;
}
.animateBurger .line3 {
    transform: rotate(45deg) translate(-6px,-3px)
}

section.middle{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    width: 90%;
    margin: 5% auto;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
}

.inner-middle {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.main-img{
    height: 100%;
    width: 50%;
    margin: auto;
}

.text-img{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.text-img h2,p {
    text-align: center;
}

.btn {
    margin: 10px;
}
/* 
@media screen and (max-width : 786px) {
    
    .main-img{
        height: 70%;
        width: 70%;
        margin: 10%;
    }

} */

.logoclass {
    height: 100%;
    width: 10%;
}


.features {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 5% auto;
    background-color: #F4F9F9;
    padding: 5% 10%;
}

.item {
    text-align: center;
}

.item h4 {
    margin-top: 20px;
}
.item i:hover {
    color : orange;
}

.holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: baseline; 
    width: 40%;
    margin: 3% auto;

}



@media screen and (max-width : 748px) {
    section.middle {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
        align-items: center;
   }
   .main-img {
       margin:15%; 
   }
   .features {
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
   }
   .item {
       margin-top: 15%;
   }
}

.footer-tag {
    padding-top: 1.5vh;
    padding-bottom: 0vh;
}

.function-text {
    width: 30%;
}

.fileupload {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items :center;
    height: 45vh;
    width: 50%;
    background-color: #f4f3f3; 
    border: 3px dashed gray;
    border-radius: 2%;
    margin :10vh auto;  
}

.fileupload-lossy {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items :center;
    height: 45vh;
    width: 50%;
    background-color: #fff; 
    border-radius: 2%;
    margin :10vh auto;  
}

.file-bar {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.text-style-form {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    font-size: larger;
    letter-spacing: 1.5px;
}


@media screen and (max-width : 748px) {
.text-style-form {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    font-size: small;
    letter-spacing: 1px;
}

}
